* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Figtree";
  src: url(/assets/fonts/Figtree-VariableFont_wght.ttf);
}

body {
  background-color: hsl(47, 88%, 63%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Figtree";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.card-preview-container {
  background-color: hsl(0, 0%, 100%);
  width: 384px;
  padding: 20px;
  border: 1px solid hsl(0, 0%, 7%);
  border-radius: 24px;
  box-shadow: 8px 8px black;
}
.thumbnail {
  height: 200px;
  width: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 10px;
}

.learning {
  background-color: hsl(47, 88%, 63%);
  display: inline-block;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 800;
  margin-top: 24px;
  color: hsl(0, 0%, 7%);
}

.published {
  font-size: 12px;
  font-weight: 500;
  color: hsl(0, 0%, 7%);
  margin-top: 12px;
}

.info-title {
  font-size: 24px;
  font-weight: 800;
  color: hsl(0, 0%, 7%);
  margin-top: 12px;
}

.info-details {
  font-size: 16px;
  color: hsl(0, 0%, 42%);
  margin-top: 12px;
  line-height: 1.5;
}

.card-user {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.user-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
}
.user-name {
  font-size: 14px;
  font-weight: 800;
}
.info-title:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

.attribution {
  visibility: hidden;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  .card-preview-container {
    background-color: hsl(0, 0%, 100%);
    width: 327px;
    padding: 20px;
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 24px;
    box-shadow: 8px 8px black;
  }
  .thumbnail {
    height: 200px;
    width: 279px;
    object-position: center;
    object-fit: cover;
    border-radius: 10px;
  }
  .learning {
    font-size: 12px;
  }
  .info-title {
    font-size: 20px;
  }
  .info-details {
    font-size: 14px;
  }
}
